body, html {
  height: 100%;
}
#banner{  padding-top: 75px;  padding-bottom: 20px;  text-align: center;     color: #f8f8f8;      background-image: url('ad.jpg') ;  height: 100%;   
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}  


.banner_content{ position: relative;     padding-top: 6%;     padding-bottom: 6%;     overflow:hidden;     margin-bottom: 12%;     background-color: rgba(0, 0, 0, 0.7);     max-width: 660px; 
}
